*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(Hindu-wedding-Shopping-Lists-1-1.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{

    width: 200px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translate(50%);
    color: #214a17;
    text-shadow: #000000;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    color: #aff1b6;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
}